In [2]:
import pandas as pd
import sqlalchemy
import sqlite3

In [4]:
engine = sqlalchemy.create_engine('sqlite:///MyTestDb.db')

In [5]:
p_data = pd.read_sql('test1', engine)

In [6]:
p_data.head()

   ids  name  age
0    1  Mark   36
1    2  Lena   30

In [7]:
p_data_new = pd.DataFrame([{'ids': 3,'name': 'Afina','age': 3}])
p_data_new.head()

   ids   name  age
0    3  Afina    3

In [9]:
p_data_new.to_sql('test1', engine, if_exists='append', index=False)

In [10]:
p_data = pd.read_sql('test1', engine)
p_data.head()

   ids   name  age
0    1   Mark   36
1    2   Lena   30
2    3  Afina    3

In [14]:
from binance import Client

In [12]:
with open('access.txt') as f:
    acc = f.readlines()
api = acc[0].strip()
key = acc[1].strip()

In [15]:
client = Client(api,key)

In [29]:
doge_data = pd.DataFrame(client.get_historical_klines('DOGEUSDT', '1m', '30m ago UTC'))
doge_data = doge_data.iloc[:, :6]
doge_data.columns = ['Time', 'Open', 'High','Low','Close', 'Volume']
doge_data.Time = pd.to_datetime(doge_data.Time, unit ='ms')

In [30]:
doge_data.head()

,Time,Open,High,Low,Close,Volume
0,2021-07-06 05:23:00,0.24056000,0.24090000,0.24054000,0.24088000,796129.50000000
1,2021-07-06 05:24:00,0.24089000,0.24089000,0.24058000,0.24075000,342390.00000000
2,2021-07-06 05:25:00,0.24073000,0.24099000,0.24073000,0.24088000,516877.10000000
3,2021-07-06 05:26:00,0.24090000,0.24135000,0.24090000,0.24111000,403644.00000000
4,2021-07-06 05:27:00,0.24114000,0.24124000,0.24080000,0.24107000,959056.90000000

In [31]:
doge_data.to_sql('test_doge_data', engine)